@import url("https://use.typekit.net/tpg1kbo.css");

a:link { 
    text-decoration: none; 
}

.navbar-name {
    padding-top: 20px; 
    vertical-align: center;
    color: rgb(0, 0, 0) !important;
    font-size: 50pt;
    font-weight: 350;
    justify-self: start;
    white-space: nowrap;
    width: 20vw;
    text-align: center;
    height: 100%;
}


.navbar-name a{
    color: rgb(231, 229, 229) !important;
 
}

.navbar-image {
    top: 0;
    left: 0;
    height: 100px;
    width: 100%;
    margin-bottom: 10px;
}

.navbar {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.navbar a {
    color: rgb(255, 255, 255);
}

.nav-links {
    white-space: nowrap;
    font-family: 'Open Sans', sans-serif;
    font-size: 12pt;
    font-weight: 100;
    padding: 0.5rem 1rem;
    list-style: none;
    
}

.nav-links a {
    color: rgb(255, 253, 253);

}
.nav-menu {
    display: grid;
    grid-template-columns:  repeat(4, auto);
    grid-gap: 10px;
    list-style: none;
    text-align: center;
    width: 70vw;
    justify-content: end;
    margin-right: 2rem;
    grid-area: menu;
}

.menu-icon {
    display: none;
}

.fa-react {
    margin-left: 0.5rem;
    font-size: 1.6rem;
}   

.fa-bars {
    color: #000;
}

@media screen and (max-width: 600px) {

    .nav-links a{
        color: black;
    }
    .navbar {
        width: 100%;
        margin: 0;
        position: absolute;
        top: 0;
        -ms-transform: translateY(0);
        transform: translateY(0);
        display: flex;

    }
    
    .navbar-name a{
        color: rgb(0, 0, 0) !important;
     
    }
    .nav-menu {
        display: flex;
        flex-direction: column;
        height: 300px;
        position: absolute;
        top: 100px;
        left: -100%;
        opacity: 1;
        transition: all 0.5s ease;
        margin: 0;
        padding: 0;
        width: 100%;
    }

    .nav-menu.active {
        background: rgb(251, 251, 251);
        left: 0;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 1;   
        margin: 0;
    }

    .nav-links {
        text-align: center;
        padding-top: 2rem;
        padding-bottom: 2rem;
        display: table;
    }

    .nav-links:hover {
        
        border-radius: 0;
    }

    .navbar-name {
        font-size: 12pt !important;
        margin-left: 40%;
        
    }

    .menu-icon {
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        transform: translate(-100%, 60%);
        font-size: 1.8rem;
        cursor: pointer;
    }

    .fa-times {
        color: #000;
        font-size: 2rem;
    }
}