.comment.header{
   
}


.comment-box {
    margin-left: 20%;
    margin-right: 20%;
}

.comment-entry {
    width: 50%;
    border: 1px solid rgba(168, 168, 168, 0.397);

}

.comment-table {
    width: 50%;
    border: none;
}

.comment-delete-button {
    border: none;
    float: right;
    font-size: 10pt;
    line-height: 1.9;

}

.comment-submit-button {
    border: none;
    font-size: 10pt;
    line-height: 1.9;
    font-size: 10pt;

}

textarea {
    resize: none;
}

@media screen and (max-width: 600px) {
    .comment-box {
        margin: 0 auto;
        width: 90%;
    }   

}