.login-box {
    text-align: center;

}

.form-box{
    opacity:100%;
    background: url('test-collage.jpeg');
    border-radius: 20px;
    box-shadow: 10px 10px 10px 1px rgba(0, 0, 0, 0.2);
    color: white;
    width: 30vw;
    z-index: 1;
    margin: auto;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .show {
    display: block;
    transition: 800ms;
    opacity: 1;
    position: fixed;
    left: 25%;
    right: 25%;
    transform: translate(-50%, 1);
  }
  
  .show.active {
    transform: translateY(500px) scale(1) rotateX(180deg);
    opacity: 0;
  }


  @media screen and (max-width: 960px) {

    .form-box{
        padding-right: 10vw;
        padding-left: 10vw;
      }
  }