@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url("https://use.typekit.net/tpg1kbo.css");

@font-face {
  font-family: "Kirsty";
  src: local("kirstyrg.otf"),
   url("./fonts/kirsty/kirstyrg.otf") format("opentype");
  }

@font-face {
  font-family: "Grenadier";
  src: local("GrenadierNF.ttf"),
    url("./fonts/grenadier/GrenadierNF.ttf") format("truetype");
  }

@font-face {
  font-family: "Groovy";
  src: local("littlegroovydemo.ttf"),
    url("./fonts/littlegroovy/littlegroovydemo.ttf") format("truetype");
  }

@font-face {
    font-family: "Simplifica";
    src: local("simplifica.ttf"),
      url("./fonts/simplifica/simplifica.ttf") format("truetype");
    }

@font-face {
  font-family: "Mango";
  src: local("mango-groovy.regular.ttf"),
    url("./fonts/littlegroovy/mango-groovy.regular.ttf") format("truetype");
  }

.font-face-simplifica {
  font-family: "Simplifica";
}
.font-face-bebas {
  font-family: 'bebas-neue-by-fontfabric';
}
.font-face-mango {
  font-family: "Mango";
}
.font-face-groovy {
  font-family: "Groovy";
}
.font-face-gren {
  font-family: "Grenadier";
}
.font-face-gm {
  font-family: "Kirsty";
}

.grid-container {
  display: grid;
  text-align: left; 
  grid-template-columns: 20% 80%; 
}

.nav-grid {
  position: sticky;
  top: 0; 
  height: 97vh;
  background-color:   #a1a1a1;
  border: 10px white solid;
}

.body-grid {
  padding-top: 1.3vh;
  width: auto;
  height: auto;
}
body {

  margin: 0;

  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
