img.thumbnail-image {
    height:30%;
    width: 30%;
}

.grid-box {
    display: flex;
}

.entry {
    display: flex;

}

.posts-box {

}   

.blog-title {
    text-align: center;
}

.links {
 text-align: center;
 display: grid;
 line-height: 1;    
}

.post-timestamp {
    font-size: 12pt;
    color: gray;    
    font-style: italic;
    
}

.post-title {
    font-family: sans-serif; 
    color: black;
    padding-left: 10px;
    text-align: left;
    padding-top: 6%;
}

h5 {
    margin: 0;
    font-size: 40pt;
}

