img.main-image {
    height:50%;
    width: 50%;
}

.grid-box {
    display: flex;
}

.entry {
    display: flex;
}
.posts-box {

}   

.blog-title {
    text-align: center;
}

.links {
 text-align: center;
 display: grid;
}

.post-title {
    font-family: 'bebas-neue-by-fontfabric';
    font-size: 6pt;
}

