.main-image {
    height:25%;
    width: 25%;
}

.grid-box {
    display: flex;
}

.posts-box {
    margin-left: 25%;
    margin-right: 25%;
}

.blog-title {
    text-align: center;
}

.links {
 text-align: center;
}