.create-box {
  text-align: center;
  width: 100vw;
  height: 100vh;
  background-color: rgba(175, 172, 172, 0.2);
  padding-top: 100px;
}

.create-form-box{
    opacity:100%;
    background: url('test-collage.jpeg');
    border-radius: 20px;
    box-shadow: 10px 10px 10px 1px rgba(0, 0, 0, 0.2);
    color: white;
    width: 30vw;
    z-index: 1;
    margin: auto;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .show-create {
    display: block;
    transition: 800ms;
    opacity: 1;
    position: fixed;
    transform: translate(-50%, 1);
    top: 0;
    left: 0;
  }
  
  .show-create.active-create {
    transform: translateX(-100%) scale(1);
    opacity: 0;
    top: 0;
    left: 0;
  }

  .create-submit-btn {
    border-radius: 8px;
    margin-top: 10px;
    background-color: white;

  }

  .x-create {
    float: right;
    margin-right: 20px;
    background-color: rgba(120, 116, 116, 0.713);
    cursor: pointer;
  }