.create-box {
  text-align: center;
  width: 100vw;

  background-color: rgba(175, 172, 172, 0.2);
}

.create-form-box{
    opacity:100%;
    background: url('test-collage.jpeg');
    border-radius: 20px;
    box-shadow: 10px 10px 10px 1px rgba(0, 0, 0, 0.2);
    color: white;
    width: 30vw;
    z-index: 1;
    margin: auto;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .show-create {
    display: block;
    transition: 800ms;
    opacity: 1;
    position: fixed;
    transform: translate(-50%, 1);
  }
  
  .show-create.active-create {
    /*transform: translate(500px) scale(1) rotateX(180deg);*/
    opacity: 0;
  }

  .create-submit-btn {
    border-radius: 8px;
    margin-top: 10px;
    background-color: white;

  }