.create-box {
  opacity:100%;
  /* background: url('test-collage.jpeg'); */
  border-radius: 20px;
  /* box-shadow: 10px 10px 10px 1px rgba(0, 0, 0, 0.2); */
  color: white; 
  margin: 0 auto; 
  width: auto;
  text-align: center;
}

.create-form-box{
  text-align: left;
  width: auto;
  height: auto;
  background-color: rgba(175, 172, 172, 0.2);    
  z-index: 2;
  text-align: center;
}

.show-create {
  display: block;
  transition: 800ms;
  opacity: 1;
  position: relative;
  transform: translate(-50%, 1);
  top: 60%;
  left: auto;
}
  
.show-create.active-create {
  transform: translateX(-100%) scale(1);
  opacity: 0;
  top: 60%;
  left: auto;
}

.create-submit-btn {
  margin-top: 10px;
  border: none;
  background-color: white;
  line-height: 1.9;
  border: none;

}

.x-create {
  float: right;
  margin-right: 20px;
  background-color: rgba(120, 116, 116, 0.713);
  cursor: pointer;
}